@{
    ViewData["Title"] = "Login/Registration";
}
@model chartreuse.Models.PersonViewModel
<h1>Welcome</h1>
<h2>Register</h2>
<p>@ViewBag.regerror</p>
<form asp-controller="Home" asp-action="AddUser" method="post">
    <label asp-for="register.name"></label>
    <input asp-for="register.name"></input>
    <span asp-validation-for="register.name"></span>
    <label asp-for="register.uname"></label>
    <input asp-for="register.uname"></input>
    <span asp-validation-for="register.uname"></span>
    <label asp-for="register.email"></label>
    <input asp-for="register.email"></input>
    <span asp-validation-for="register.email"></span>
    <label asp-for="register.pw"></label>
    <input asp-for="register.pw"></input>
    <span asp-validation-for="register.pw"></span>
    <label asp-for="register.cpw"></label>
    <input asp-for="register.cpw"></input>
    <span asp-validation-for="register.cpw"></span>
    <input type="submit" value="Register">
</form>


<h2>Login</h2>
<p>@ViewBag.logerror</p>
<form asp-controller="Home" asp-action="Login" method="post">
    <label asp-for="login.email"></label>
    <input asp-for="login.email"></input>
    <span asp-validation-for="login.email"></span>
    <label asp-for="login.pw"></label>
    <input asp-for="login.pw"></input>
    <span asp-validation-for="login.pw"></span>
    <input type="submit" value="Log In">
</form>